.button {
    -fx-background-color: linear-gradient(to bottom, lightcyan, cyan);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: darkcyan;
}

.toggle-button {
    -fx-background-color: linear-gradient(to bottom, lightcyan, cyan);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: darkcyan;
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to top, lightcyan, darkcyan);
    -fx-border-color: blue;
}

.oqua-nav-bar {
    -fx-padding: 5px;
}

.oqua-tcard {
    -fx-padding: 20px;
}

.oqua-missing-tq-header {
    -fx-font-weight: bold;
}

.oqua-missing-tq-header {
    -fx-font-weight: bold
}
.oqua-question-text {
    -fx-font-weight: bold
}

.oqua-tq-card {
    -fx-margin: 7px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #eeeeff;
    -fx-border-radius: 5px;
    -fx-border-color: darkcyan;
}

.hyperlink {
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.list-cell {
    -fx-background-color: white;
    -fx-pref-width: 100%;
}

.progress-marker {
    -fx-max-height: 20px;
    -fx-max-width: 20px;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    borderColor: darkcyan;
}

.progress-marker .active {
    -fx-background-color: cyan;
}